{% extends 'base.html.twig' %}

{% block title %}
Create a new serie | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {# todo : afficher un formulaire de création #}
    </div>
{% endblock %}

